:root{
    --fondo: #454E5F;
    --icono: #53C5F2;
    --fondo-input: #ffffff;
    --textos: #000000;
    --icono-tema: #ffffff;
    --background-image: url('/assets/clarof.avif');
    --input-text: #000000;
}